body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: aliceblue;
    display: flex;
}

.gradiente {
    margin: 10px auto;
}
input[type='range'] {
    width: 100px;
}
