@import url('./globalStyle.css');
@import url('./header.css');
@import url('./main.css');
@import url('./modal.css');


#cadastrar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}