* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}

:root {
    --primary-color: #007ffb;
    --secondary-color: #0059b0;
    --white-color: rgb(255, 253, 253);
    --black-color: #3b3b3b;
}
